apiVersion: v1
kind: ConfigMap
metadata:
  name: todo-app-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  NEXT_PUBLIC_API_URL: {{ .Values.frontend.env.NEXT_PUBLIC_API_URL | quote }}
  NODE_ENV: {{ .Values.frontend.env.NODE_ENV | quote }}
