namespace: todo-app-dev

frontend:
  image:
    repository: todo-frontend
    tag: latest
    pullPolicy: Never
  replicaCount: 2
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: NodePort
    port: 80
    targetPort: 3000

backend:
  image:
    repository: todo-backend
    tag: latest
    pullPolicy: Never
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8000

secrets:
  name: todo-app-secrets
